{% extends 'master' %}

{% block content %}
{% if not currentUser %}
  <a href="/login" class="btn btn-info"> You need to login to edit an article >></a>
{% else %}
{% if old('errors') %}
<div class="alert alert-danger">
  {% for error in old('errors') %}
    <li> {{ error.message }} </li>
  {% endfor %}
</div>
{% endif %}

<h2>{{post.title}}</h2>
{{ form.open({action: 'PostsController.update'}) }}

  {{ csrfField }}

    <fieldset class="form-group">
          {{ form.label('Title') }}
          {{ form.text('title', post.title, { class: 'form-control' }) }}
    </fieldset>

      <fieldset class="form-group">
          {{ form.label('Description') }}
          {{ form.textarea('content', post.content, { class: 'form-control' }) }}
      </fieldset>

      {{form.hidden('id', post.id)}}

      {{ form.submit('Update', 'create', { class: 'btn btn-primary btn-block' }) }}

{{ form.close() }}
{% endif %}
{% endblock %}
